#header{
    display: flex;
    background-color: aqua;
    height: 50px;
}
.header-left{
    background-color: aliceblue;
    width: fit-content;
    height: fit-content;  
}
.header-right{
    background-color: blanchedalmond;
    width: fit-content;
    height: fit-content; 
    margin-left: auto; 

}

.project, .about-me, .touch, .blog{
    margin: 5px;

}
.about-me{
    background-color: blue;
}
.touch{
    background-color: red;
}
.blog{
    background-color: green;
}
.project{
    background-color: yellow;
}
